{
    "root": true,
    "parser": "@babel/eslint-parser",
    "env": {
        "node": true
    },
    "plugins": [
        "prettier"
    ],
    "extends": [
        "eslint:recommended",
        "prettier"
    ],
    "rules": {
        "prettier/prettier": 2,
        "no-empty": ["error", { "allowEmptyCatch": true  }]
    }
}
